@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@700&family=Libre+Bodoni:wght@400;500;700&display=swap');
@font-face {
  font-family: 'Pretendard Variable';
  font-weight: 45 920;
  font-style: normal;
  font-display: swap;
  src: local('Pretendard Variable'),
    url('./font/PretendardVariable.woff2') format('woff2-variations');
}

html,
body {
  height: 100%;
  box-sizing: border-box;
  background-color: #141414;
}
